#container {
	width: 100vw;
	height: 100vh;
	background:black;
}

h1 {
	text-align:center;
	color:yellow;
}
button{
 display:none;
}

.player {
	width: 8vh;
	height: 8vh;
	font-size:7vh;
	text-align:center;
	padding:.5vh;
}

#player1 {
	background: lightgreen;
}

#player2 {
	background: lightblue;
}